

.classEstilo{
    width:100%;
    background-color: antiquewhite;
    display: flex;
    flex-direction: row;
    align-content: center;
}

.menuLista{

    display: flex;
    flex-direction: row;


}

.menuLista li{
    margin: 20px;
}
.active{
    color:green;
}

.inactive{
    color:grey;
}